---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";

const BASE = import.meta.env.BASE_URL;

const activities = await getCollection("activities");
---

<BaseLayout>
  <h1 class="font-poppins text-3xl mb-8">Actividades</h1>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {activities.map((a) => (
      <Card
        href={`${BASE}activities/${a.slug}/`}
        title={a.data.title}
        image={a.data.cover}
        type={a.data.type}
        ctaLabel="Ver detalle"
        formUrl={a.data.formUrl}
      />
    ))}
  </div>
</BaseLayout>
